.container{
    margin-top: 70px;
    .card-body{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; 
        a{
            img{
                background-color: #1e3932;
                height: 180px;
                border-radius: 50%;
                transition: all 0.3s ease-in-out;
                &:hover{
                    transform: scale(0.8);
                }
            }
        }
        h1{
            padding-top: 20px;
            font-size: calc(1.0188rem + .2256vw);
        }
    }
}

.card{
    border: none;
}
